.md-grid {
  max-width: 70rem;
}

html {
  font-size: 110%;
}

.md-typeset .admonition {
  font-size: 100% !important;
}

.md-typeset details {
  font-size: 100% !important;
}

.convax-pentagon-stroke {
  stroke: #111827;
  stroke-opacity: 1;
}

[data-md-color-scheme="slate"] .convax-pentagon-stroke {
  stroke: #f9fafb;
}

.md-typeset h1 {
  font-size: 1.6rem;
}

.md-typeset h2 {
  font-size: 1.5rem;
}

.md-typeset h3 {
  font-size: 1.3rem;
}

.md-typeset h4 {
  font-size: 1.1rem;
}

.md-typeset h5 {
  font-size: 0.9rem;
}

.md-typeset h6 {
  font-size: 0.8rem;
}
